.background-homeLogin {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 35vh;
    background-color: #01710F;
}

.logo svg {
    margin-top: 5vh;
}

.background-bottom {
    width: 100%;
    height: 65vh;
    background-color: #EBEBEB;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 80vh;
    height: 80vh;
    max-height: 55vh;
    margin-top:3vh;
    background-color: #FFFFFF;
    background-size: cover;
    border-radius: 20px;
}

.form-title-text {
    text-align: center;
    font-size: 2.4vh;
    margin-bottom: 2vh;
}

.form-title-text {
    display: flex;
    justify-content: center;
    font-size: 4vh;
    margin: 2vh;
    font-weight: bold;
}

.wrap-form-body {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.social-items {
    display: flex;
    flex-direction: column;
    width: 35vh;
}

.social-items button {
    margin-top: 2vh;
    height: 5vh;
}

button {
    border: 0.2vh solid springgreen ;
    border-radius: 1vh;
    font-weight: bold;
}

button:hover {
    background-color: #01710F;
    border: none;
}

.v-btn__content {
    margin-right: 1vh;
}

.ml-hr {
    display: flex;
    align-items: center;
    text-align: center;
}

.ml-hr hr {
    flex-grow: 1;
    height: 0.1vh;
    background-color: #282c34;
    margin: 0 2vh;
}

.ml-network {
    display: flex;
    flex-direction: column;
    width: 35vh;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.input {
    border: none;
    background-color: #E0E0E0;
    border-radius: 1vh;
    padding: 1vh;
    width: 100%;
    margin-bottom: 2vh;
    transition: border-color 0.3s;
}
.input:hover,
.input:focus {
    border: 0.3vh solid springgreen;
}

.input::placeholder {
    text-align: start;
    font-size: 2vh;
    line-height: 2vh;
}

.btn-form {
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
