.container-row {
    display: flex;
}
.transaction-container hr {
    width: 5vw; /* Độ rộng của đường kẻ */

}

.sidebar-col-2 {
    width: 5vw;
    height: 100vh;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(247,247,247,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(247,247,247,1);
    box-shadow: 10px 10px 5px 0px rgba(247,247,247,1);
}

.content-col-10 {
    width: calc(100% - 10vh);
    height: 100%;
    display: block;
}

.nav-bar {
    width: 100%;
    height: 8vh;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(212,212,212,1);
    box-shadow: 10px 10px 5px 0px rgba(212,212,212,1);
}

.middle {
    width: 95vw;
    height: 92vh;
    background-color: #E4E4E4;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.transaction-container {
    display: flex;
    flex-direction: column
}

.transaction-container > button {

}
.sidebar-icon-home {
    display: flex;
    justify-content: center;
    width: 5vw;
    height: 9vh;
    transition: background-color 0.3s ease;
}

.sidebar-icon-home:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.sidebar-icon-home svg {
    width: 3vw;
    height: 3vh;
    margin-top: 2vh;
}


.lib-item-tab {
    display: flex;
    justify-content: space-between;
}

.lib-item-tab-left {
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    cursor: pointer;
    transition: all 0.3s ease;
}
.lib-item-tab-left:hover {
    background-color: #F5F5F5;
    transform: scale(0.98);
}

.lib-item-tab-left-toolbar {
    margin: 1.5vh;

}

.content-wallet{
    margin: 0;
}

.content-wallet p {
    margin-top: 1.5vh;
    margin-bottom: 0px;
    font-size: 13px;
    color: #A8A8A8

}
.content-wallet span{
    font-size: 16px;
}

.lib-item-tab-right {
    display: flex;
    justify-content: center;
    padding: 2.5vh;
}

.lib-item-tab-left-toolbar img {
    width: 5vh;
    height: 5vh;


}

.icon-jumptoday {
    margin-right: 2vw;
    position: relative;
}
.today {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.icon-eyes {
    margin-right: 2vw;

}

.icon-search {
    margin-right: 3vw;
}
.lib-item-tab-right {
    cursor: pointer
}

.form-sidebar {
    width: 20vw;
    height: 39vh;
    top: 7vh;
    left: 6vw;
    position: fixed;
    background: white;
    -webkit-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    display: none;
    cursor: pointer;
    overflow: auto ;
}
.show{
    display: block;
}