
.nav-create-wallet{
    width: 20vw;
    height: 6vh;
    border-radius: 8px;
    margin-top: 4vh;
    background-color: #FEC021;
    -webkit-box-shadow: 1px -5px 11px -7px rgba(245,216,27,1);
    -moz-box-shadow: 1px -5px 11px -7px rgba(245,216,27,1);
    box-shadow: 1px -5px 11px -7px rgba(245,216,27,1);
    cursor: pointer;
    text-decoration: none;
}
a.nav-create-wallet{
    text-decoration: none;
}
.btn-show-form{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: whitesmoke;
}
.container-wallet {
    margin-top: 3vh;
    width: 40vw;
    height: 28vh;
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius:8px ;
    -webkit-box-shadow: -6px 10px 25px -6px rgba(201, 201, 201, 0.75);
    -moz-box-shadow: -6px 10px 25px -6px rgba(201, 201, 201, 0.75);
    box-shadow: -6px 10px 25px -6px rgba(201, 201, 201, 0.75);
}

.nav-date {
    width: 40vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-lastMonth, .btn-thisMonth, .btn-future {
    width: 12vw;
    height: 5vh;
    margin-top: 3vh;

}

.btn-thisMonth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lastMonth {
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-future {
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-lastMonth p, .btn-thisMonth p, .btn-future p {
    margin: 0;
    color: #A8A8A8;
}

.btn-lastMonth p:hover,
.btn-thisMonth p:hover,
.btn-future p:hover {
    color: #2CB84C;
    cursor: pointer;

}

.hr {
    width: 80%;
    border-top: 1px solid black;
}
.total-wallet{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.info-wallet hr{
    width: 100%;
    border-top: 1px solid silver;
}
.info-wallet p{
    text-align: right;
}
.show-detail{
    width: 40vw;
    max-height: 40vh;
    overflow: auto;
    scrollbar-width: none;
    background-color: white;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
}
.hr-div{
    width: 40vw;
    height: 4vh;
    background-color: #F4F4F4;
}

.container-detail-wallet{
    width: 40vw;
    background-color: white;
    height: 6vh;
    display: flex;
}
.container-detail-wallet:hover{
    background-color: #F0F9F1;
    cursor: pointer;
}
.date-wallet-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 5vh;
}
.date-time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 5vw;
    height: 5vh;
}
.time{
    width: 25vw;
    height: 5vh;
}
.money-wallet-detail{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 28vw;
    height: 5vh;
    margin-right: 10px;
}
.hrs {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 1px 0;
}
