.flex-container-account {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 40%;
    margin: auto;
    margin-top: 70px;
}

.main-text-wallets {
    line-height: 75px;
    font-size: 20px;
    color: forestgreen;
}

.border-wallets {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.update-profile-table {
    background-color: white;
    width: 400px;
    margin-left: 47px;
}

.border-title {
    border-color: rgba(0, 0, 0, .12) !important;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px 0 0;
    color: #fff;
    position: relative;
}

.tittle-text {
    background-color: #f1f1f1;
    width: 50%;
    color: black;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
}

.hr {
    width: 100%;
}

.main-account-top1 {
    display: flex;
    flex-direction: row;
    max-height: 140px;
    min-width: 400px;

}

.child-div {
    padding: 20px 40px 20px 30px;
}

.img-profile-account {
    width: 100px;
    height: 100px;
}

.img-edit-account {
    width: 88px;
    height: 88px;
}

.profile-account-center {
    justify-content: center;
    margin: auto;
}

.main-account-top3 {
    margin: 20px;
}

.icon-container {
    width: 50px;
    height: 50px;
    background-color: #f07700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    background-image: url('https://logodix.com/logo/1042163.png');
    background-size: cover;
}

.list-devices {
    color: rgba(0, 0, 0, .54);
    font-weight: 500;
    margin-bottom: 20px;
}

.title-account {
    display: flex;

}

.close-title-account {
    margin: 4px;
}

.close-title-account a {
    margin: 3px;
    color: black;
    text-decoration: none;
}

.hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.title-account-center {
    width: 90%;
    margin-left: 40%;
    font-weight: 700;
    font-size: 20px;
}

.text-devices {
    line-height: 16px;
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    margin-top: 5px;
}

.sing-out-account-btn {
    margin: 10px;
}

.close-update-account {
    display: flex;
    justify-content: end;
}

.dropbtn {
    background-color: #6C757D;
    color: white;
    padding: 6px 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin: 25px 10px 0 0;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
    background-color: #f1f1f1;
    border-radius: 8px;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 8px;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #6C757D;
    border-radius: 8px;

}

.close-show-if {
    display: flex;
    justify-content: end;
}

.close-show-if:hover {
    cursor: pointer;
}

.btn-account {
    display: flex;
    justify-content: end;
}

.delete-confirmation-modal {
    margin-top: -300px;
    border-radius: 10px;
    color: black;
    background-color: white;
    width: 400px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thêm hiệu ứng mờ viền */
    z-index: 1001; /* Đảm bảo modal hiển thị trên lớp che phủ */

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ */
    z-index: 1000; /* Đảm bảo modal hiển thị trên tất cả các phần tử khác */
}
.confirmation-delete{
    padding: 20px 0;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, .87);
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.delete-account{
    display: flex;
    justify-content: center;
}
.button-delete-cancel{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.delete-confirmation-modal-div-1 {
    background-color: #808080;
    color: white;
    width: 70px;
    margin: 0 0 0 5px;
    padding: 2px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.delete-confirmation-modal-div-2 {
    background-color: rgb(204, 39, 55);
    color: white;
    width: 73px;
    height: 32px;
    margin: 0 0 0 10px;
    padding: 2px 2px 2px 4px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-confirmation-modal-div:hover {

}