.flex-container-account {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 40%;
    margin: auto;
    margin-top: 70px;
}

.main-text-wallets {
    line-height: 75px;
    font-size: 20px;
    color: forestgreen;
}

.border-wallets {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.update-profile-table {
    background-color: white;
    width: 400px;
}

.border-title {
    border-color: rgba(0, 0, 0, .12) !important;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px 0 0;
    color: #fff;
    position: relative;

}

.tittle-text {
    background-color: #f1f1f1;
    width: 50%;
    color: black;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
}

.hr {
    width: 100%;
}

.main-account-top1 {
    display: flex;
    flex-direction: row;
    max-height: 140px;
    min-width: 400px;

}

.child-div {
    padding: 20px 40px 20px 30px;
}

.img-profile-account {
    width: 100px;
    height: 100px;
}

.profile-account-center {
    justify-content: center;
    margin: auto;

}

.main-account-top3 {
    margin: 20px;
}

.icon-container {
    width: 50px;
    height: 50px;
    background-color: #f07700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    background-image: url('https://logodix.com/logo/1042163.png');
    background-size: cover;
}

.list-devices {
    color: rgba(0, 0, 0, .54);
    font-weight: 500;
    margin-bottom: 20px;
}

.title-account {
    display: flex;

}

.close-title-account {
    margin: 4px;
}

.close-title-account a {
    margin: 3px;
    color: black;
    text-decoration: none;
}
.hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.title-account-center {
    width: 90%;
    margin-left: 40%;
    font-weight: 700;
    font-size: 20px;
}

.text-devices {
    line-height: 16px;
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    margin-top: 5px;
}

.sing-out-account-btn {
    margin: 10px;
}

.close-update-account {
    display: flex;
    justify-content: end;
}

.edit-account-text {
    display: flex;
    justify-content: center;
}