.container-edit {
    margin-top: 5vh;
    width: 40vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    width: 30%; /* Độ rộng của nhãn */
    margin-right: 10px; /* Khoảng cách giữa nhãn và input */
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%; /* Độ rộng của input */
    outline: none;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #2CB84C;
}

.text-danger {
    color: red;
    margin-top: 4px;
    font-size: 14px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #2CB84C;
    color: #fff;
}

.btn-secondary {
    background-color: #ccc;
    color: #000;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 2194325b619a2fa6d1011fd8f0cc5b3a62c12dc0
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #238c3b;
}

.link-secondary {
    color: #A8A8A8;
    text-decoration: none;
}

.link-secondary:hover {
    text-decoration: underline;
}
.custom-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
=======
>>>>>>> features/crud-wallet
>>>>>>> 2194325b619a2fa6d1011fd8f0cc5b3a62c12dc0
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #238c3b;
}

.link-secondary {
    color: #A8A8A8;
    text-decoration: none;
}

.link-secondary:hover {
    text-decoration: underline;
}
.custom-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}


